<!-- Displays current submissions with one to edit-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Submissions</h1>
    <form action="/edit" method="GET">
        <ul>
            <% submissions.forEach((submission, index) => { %>
                <li>
                    <input type="radio" id="submission-<%= index %>" name="submissionIndex" value="<%= index %>" required>
                    <label for="submission-<%= index %>"><%= submission.title %></label>
                </li>
            <% }); %>
        </ul>
        <button type="submit">Edit Selected</button>
    </form>
</body>
</html>